*{
  margin: 0;
  text-align: center;
}

body{
  background-color:rgb(219, 174, 59);
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
  width: 45rem;
  max-width: 98%;
}

.button1{
  width: 6em;
  height: 3em;
  border-radius: 15px;
  background-color: blue;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: small;
  border-left: none;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top:none;
}
.button2{
  width: 2.5em;
  height: 2.5em;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  background-color: coral;
}

.card{
  width: 30rem;
  height:30rem;
  max-width: 95%;
  border-radius: 5px;
  background-color: aliceblue;
  overflow: hidden;
}

.card-header{
  background-color: greenyellow;
  width: 100%;
  height: 3.5em;
  padding: .5rem 1rem;
}

.card-footer {
  padding: 1rem;
}

.card-content{
  padding: .5rem 1rem;
}

.card-title {
  color: gray;
  font-size: xx-large;
  font-weight: 100;
  margin-block: 1rem;
}

.card-description {
  color: #1f1f1f;
  font-size: x-large;
  font-weight: bold;
  text-align: start;
  margin-block: 1rem;
}

.card-button {
  width: 20rem;
  max-width: 90%;
  border-radius: 20px;
  background: greenyellow;
  color: white;
  font-size: medium;
  padding: .2rem 1rem;
}